@import 'chessground/assets/chessground.base.css';
/* @import 'chessground/assets/chessground.board.css'; */
::ng-deep .cg-wrap cg-board {
  --light: red |important;
  --dark: green;
  background-image: url('../../../assets/board.svg');
}

.chess-container {
  display: grid;
  grid-template-columns: 300px minmax(auto, 800px) 300px;
  grid-template-areas: 'controls board analysis';
  gap: 2rem;
  padding: 2rem;
  min-height: 100vh;
  justify-content: center;
  align-items: stretch;
  background: linear-gradient(135deg, #f0f9ff 0%, #e0f2fe 50%, #bae6fd 100%);
}

.controls-area {
  grid-area: controls;
}

.board-area {
  grid-area: board;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  height: auto;
}

.player-info {
  width: 100%;
  max-width: 600px;
}

.player-info.active-turn {
  background: rgba(14, 116, 144, 0.4);
  border-color: rgba(34, 211, 238, 0.6);
  box-shadow: 0 0 15px rgba(6, 182, 212, 0.2);
  transform: scale(1.01);
}

.chessboard {
  width: 600px; /* Adjust as needed */
  height: 600px;
}

.chessboard-3d {
  width: 600px;
  height: 600px;
  aspect-ratio: 1;
}

.controls-panel {
  background: linear-gradient(135deg, #0c4a6e 0%, #075985 100%);
  backdrop-filter: blur(16px);
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(6, 182, 212, 0.3);
  grid-area: controls;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 4rem);
}

.side-panel {
  grid-area: analysis;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  max-height: calc(100vh - 4rem);
  overflow: hidden;
}

.side-panel app-opening-explorer {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.board-header {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.opening-label {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-secondary);
  background: var(--surface-card);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Board Themes */
::ng-deep .theme-default cg-board {
  /* Brown - Standard */
  --board-light: #f0d9b5;
  --board-dark: #b58863;
}

::ng-deep .theme-green cg-board {
  /* Green */
  --board-light: #eeeed2;
  --board-dark: #769656;
}

::ng-deep .theme-blue cg-board {
  /* Blue */
  --board-light: #eae9d2;
  --board-dark: #4b7399;
}

::ng-deep .theme-purple cg-board {
  /* Purple */
  --board-light: #e0c0f0;
  --board-dark: #712b8f;
}

::ng-deep .theme-wood cg-board {
  --board-light: #e8c49e; /* Fallback */
  --board-dark: #8b5a2b; /* Fallback */
}

::ng-deep .theme-wood cg-board {
  background-image: url('../../../assets/wood.svg') !important;
}

::ng-deep .theme-marble cg-board {
  --board-light: #e8e8e8;
  --board-dark: #2c2c2c;
}

::ng-deep .theme-marble cg-board {
  background-image: url('../../../assets/marble.svg') !important;
}

/* Apply variables to chessground internals */

/* Piece Sets - Using Lichess CDN */

/* Merida */
.chessboard.pieces-merida ::ng-deep piece.pawn.white {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/merida/wP.svg') !important;
}
.chessboard.pieces-merida ::ng-deep piece.knight.white {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/merida/wN.svg') !important;
}
.chessboard.pieces-merida ::ng-deep piece.bishop.white {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/merida/wB.svg') !important;
}
.chessboard.pieces-merida ::ng-deep piece.rook.white {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/merida/wR.svg') !important;
}
.chessboard.pieces-merida ::ng-deep piece.queen.white {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/merida/wQ.svg') !important;
}
.chessboard.pieces-merida ::ng-deep piece.king.white {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/merida/wK.svg') !important;
}

.chessboard.pieces-merida ::ng-deep piece.pawn.black {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/merida/bP.svg') !important;
}
.chessboard.pieces-merida ::ng-deep piece.knight.black {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/merida/bN.svg') !important;
}
.chessboard.pieces-merida ::ng-deep piece.bishop.black {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/merida/bB.svg') !important;
}
.chessboard.pieces-merida ::ng-deep piece.rook.black {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/merida/bR.svg') !important;
}
.chessboard.pieces-merida ::ng-deep piece.queen.black {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/merida/bQ.svg') !important;
}
.chessboard.pieces-merida ::ng-deep piece.king.black {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/merida/bK.svg') !important;
}

/* ALPHA */
.chessboard.pieces-alpha ::ng-deep piece.pawn.white {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/alpha/wP.svg') !important;
}
.chessboard.pieces-alpha ::ng-deep piece.knight.white {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/alpha/wN.svg') !important;
}
.chessboard.pieces-alpha ::ng-deep piece.bishop.white {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/alpha/wB.svg') !important;
}
.chessboard.pieces-alpha ::ng-deep piece.rook.white {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/alpha/wR.svg') !important;
}
.chessboard.pieces-alpha ::ng-deep piece.queen.white {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/alpha/wQ.svg') !important;
}
.chessboard.pieces-alpha ::ng-deep piece.king.white {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/alpha/wK.svg') !important;
}

.chessboard.pieces-alpha ::ng-deep piece.pawn.black {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/alpha/bP.svg') !important;
}
.chessboard.pieces-alpha ::ng-deep piece.knight.black {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/alpha/bN.svg') !important;
}
.chessboard.pieces-alpha ::ng-deep piece.bishop.black {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/alpha/bB.svg') !important;
}
.chessboard.pieces-alpha ::ng-deep piece.rook.black {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/alpha/bR.svg') !important;
}
.chessboard.pieces-alpha ::ng-deep piece.queen.black {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/alpha/bQ.svg') !important;
}
.chessboard.pieces-alpha ::ng-deep piece.king.black {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/alpha/bK.svg') !important;
}

/* CHEQ */
.chessboard.pieces-cheq ::ng-deep piece.pawn.white {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/cheq/wP.svg') !important;
}
.chessboard.pieces-cheq ::ng-deep piece.knight.white {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/cheq/wN.svg') !important;
}
.chessboard.pieces-cheq ::ng-deep piece.bishop.white {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/cheq/wB.svg') !important;
}
.chessboard.pieces-cheq ::ng-deep piece.rook.white {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/cheq/wR.svg') !important;
}
.chessboard.pieces-cheq ::ng-deep piece.queen.white {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/cheq/wQ.svg') !important;
}
.chessboard.pieces-cheq ::ng-deep piece.king.white {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/cheq/wK.svg') !important;
}

.chessboard.pieces-cheq ::ng-deep piece.pawn.black {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/cheq/bP.svg') !important;
}
.chessboard.pieces-cheq ::ng-deep piece.knight.black {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/cheq/bN.svg') !important;
}
.chessboard.pieces-cheq ::ng-deep piece.bishop.black {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/cheq/bB.svg') !important;
}
.chessboard.pieces-cheq ::ng-deep piece.rook.black {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/cheq/bR.svg') !important;
}
.chessboard.pieces-cheq ::ng-deep piece.queen.black {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/cheq/bQ.svg') !important;
}
.chessboard.pieces-cheq ::ng-deep piece.king.black {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/cheq/bK.svg') !important;
}

/* LEIPZIG */
.chessboard.pieces-leipzig ::ng-deep piece.pawn.white {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/leipzig/wP.svg') !important;
}
.chessboard.pieces-leipzig ::ng-deep piece.knight.white {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/leipzig/wN.svg') !important;
}
.chessboard.pieces-leipzig ::ng-deep piece.bishop.white {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/leipzig/wB.svg') !important;
}
.chessboard.pieces-leipzig ::ng-deep piece.rook.white {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/leipzig/wR.svg') !important;
}
.chessboard.pieces-leipzig ::ng-deep piece.queen.white {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/leipzig/wQ.svg') !important;
}
.chessboard.pieces-leipzig ::ng-deep piece.king.white {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/leipzig/wK.svg') !important;
}

.chessboard.pieces-leipzig ::ng-deep piece.pawn.black {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/leipzig/bP.svg') !important;
}
.chessboard.pieces-leipzig ::ng-deep piece.knight.black {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/leipzig/bN.svg') !important;
}
.chessboard.pieces-leipzig ::ng-deep piece.bishop.black {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/leipzig/bB.svg') !important;
}
.chessboard.pieces-leipzig ::ng-deep piece.rook.black {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/leipzig/bR.svg') !important;
}
.chessboard.pieces-leipzig ::ng-deep piece.queen.black {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/leipzig/bQ.svg') !important;
}
.chessboard.pieces-leipzig ::ng-deep piece.king.black {
  background-image: url('https://raw.githubusercontent.com/lichess-org/lila/master/public/piece/leipzig/bK.svg') !important;
}

/* Responsive behavior */
/* Responsive behavior */

/* Tablet Layout */
@media (max-width: 1350px) {
  .chess-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'board board'
      'controls analysis';
    gap: 1.5rem;
    padding: 1.5rem;
  }

  .chessboard,
  .chessboard-3d {
    width: 100%;
    max-width: 600px;
    aspect-ratio: 1;
    height: auto;
  }
}

/* Mobile Layout */
@media (max-width: 900px) {
  .chess-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      'board'
      'controls'
      'analysis';
    gap: 1rem;
    padding: 1rem;
  }

  .side-panel,
  .controls-panel {
    width: 100%;
    max-width: 100%;
  }

  /* Ensure board area doesn't force huge height on mobile if stacked vertically */
  .board-area {
    gap: 0.5rem;
  }
}
