<div class="status-card">
  <h3 class="text-lg font-semibold mb-2">{{ 'GAME.STATUS' | translate }}</h3>
  <div class="status-info">
    @if (isCheck()) {
    <p class="check-warning">
      <span class="material-icons">warning</span> {{ 'GAME.CHECK' | translate }}
    </p>
    } @if (isCheckmate()) {
    <p class="checkmate-warning">
      <span class="material-icons">flag</span> {{ 'GAME.CHECKMATE' | translate }}!
    </p>
    } @if (isStalemate()) {
    <p class="stalemate-warning">
      <span class="material-icons">balance</span> {{ 'GAME.STALEMATE' | translate }}!
    </p>
    }
  </div>
</div>
