:host {
  display: block;
  width: 100%;
  height: 100%;
}

.renderer-container {
  width: 100%;
  height: 100%;
  min-height: 500px;
  display: block;
  border-radius: 8px;
  overflow: hidden;
  overflow: hidden;
}
